* {
  border: none;
  font-family: "GohuFont uni14 Nerd Font", monospace;
  font-size: 16px;
  font-weight: 600;
  background: none;
}

window#waybar {
  background: transparent;
}
.modules-left {
  border-radius: 0px;
  background: transparent;
  opacity: 1;
  	}
.modules-right {
  border-radius: 0px;
  background: transparent;
  opacity: 1;
  	}
.modules-center {
  border-radius: 3px;
  background: transparent;
  padding: 3px 0;
}
tooltip {
  color: #000000;
  background-color: transparent;
  text-shadow: #000000;
}

tooltip * {
  background-color: transparent;
  color: transparent;
  text-shadow: none;
}

tooltip#memory {
  color: #000000;
}

.modules-center {
}

#custom-sep {
  color: transparent;
  margin: 4px 5;
}
#custom-sbtop {
  color: transparent;
  margin: 4px 5;
}
#custom-scrobbler {
  color: #ffffff;
}

#language,
#memory,
#cpu,
#temperature,
#battery,
#workspaces,
#custom-clock,
#wireplumber,
#tray {
}
#workspaces {
  border-radius: 4px;
}
#workspaces button {
  color: #ffffff;
  background: none;
  padding: 0;
}
#workspaces button:hover {
  color: #000000;
}
#workspaces button.focused {
  color: #ffffff;
}
#memory {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: #ffffff

}

#tray {
  padding: 5;
}

#cpu {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: #ffffff
}

#temperature {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px 0;
  padding: 0;
  border-bottom-color: #ffffff
}

#battery {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: #ffffff
}

#custom-clock {
  font-weight: 600;
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: rgba(000, 000, 000, 1)
}

#wireplumber {
  color: #6ef874;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: rgba(255, 255, 255, 1)
}
#wireplumber.muted {
  color: #d62f2f;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: rgba(255, 255, 255, 1)

}
#language {
  color: #ffffff;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  margin: 2px;
  border-bottom-color: rgba(255, 255, 255, 1)

}
