* {
  border: none;
  font-family: "Terminus";
  font-size: 14px;
  font-weight: 600;
  min-height: 0
}

window#waybar {
  background: #000000;
}
.modules-left {
  border-radius: 0px;
  background: transparent;
  opacity: 1;
  	}
.modules-right {
  border-radius: 0px;
  background: transparent;
  opacity: 1;
  	}
.modules-center {
  border-radius: 0px;
  background: transparent;
}
tooltip {
  color: #000000;
  background-color: transparent;
  text-shadow: #000000;
}

tooltip * {
  background-color: transparent;
  color: transparent;
  text-shadow: none;
}

tooltip#memory {
  color: #000000;
}

.modules-center {
}



#language,
#memory,
#cpu,
#temperature,
#battery,
#workspaces,
#custom-clock,
#wireplumber,
#tray {
  background-color: #000000
}
#workspaces {
}
#workspaces button {
  color: #ffffff;
  background: transparent;
}
#workspaces button:hover {
  color: #000000;
}
#workspaces button.focused {
  color: #ffffff;
}
#memory {
  color: #ffffff;
  margin: 0px 15px;
}

#tray {
  margin: 0px 10px
}

#cpu {
  color: #ffffff;
  margin: 0px 15px;
}

#temperature {
  color: #ffffff;
  margin: 0px 15px;
}

#battery {
  color: #ffffff;
  margin: 0px 15px;
}

#custom-clock {
  font-weight: 600;
  color: #ffffff;
  margin: 0px;
  margin-left: 2px
}

#wireplumber {
  color: #6ef874;
  margin: 0px;
  margin-left: 15px;
  margin-right: 3px
}
#wireplumber.muted {
  color: #d62f2f;
  margin: 0px;
  margin-left: 15px;
  margin-right: 3px
}
#language {
  color: #ffffff;
  margin: 0px 8px;
  border-bottom-color: rgba(255, 255, 255, 1)

}
